*{
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
}

body{
background-color: mintcream;
font-family: "Times New Roman";
color: rgba(0, 0, 0, 0.918)

}

p{
  margin: 10px;
  text-align: justify;
}

blockquote{
  margin: 10px;
  text-align: justify;
}

/*---------------------*/
/* Lista de Navegacion*/
/*---------------------*/

.header-container{
  background-color: rgba(128, 128, 128, 0.185);
  width: 100%;
  height: auto;
  display: inline-flex;
  text-transform: capitalize;
  align-items: center;

}

.header-container-logo{
  width: 10%;
  height: 100%;
  display: flex;
  justify-items: center;
  justify-content: center;
  
}

.header-container-logo:hover{
  background: rgba(128, 128, 128, 0.200);
  border-radius: 1rem;

}

#header-logo{
  width: 100%;
  height: 80px;
  object-fit:contain;
  padding: 0;
  
}


.header-container-list{
  width: 80%;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  justify-items: center;

}

header ol{
  padding-left: 20px;
  
}

header ol li{
  list-style: none;
  margin-top: 5px;
  float: left;
  
}

header ol li a{
  font-size: 18px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.600);
  font-weight: bold;
  padding: 10px;
  margin: 0;
  width: 100px;
  
}

header ol li a:hover{
  color: rgba(0, 0, 0, 0.790);
  background: rgba(128, 128, 128, 0.200);
  border-radius: 1rem;
  font-size: 20px;

  
}

/*---------------------*/
/*Home primera página*/
/*---------------------*/

.titulo{
  color:purple;
  font-size:50px;
  text-align: center;
  
}

.container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 350px;
  grid-gap: 10px;
  padding: 10px;

}

.item{
  position: relative;  
  
  
}

.item img{
  height: 100%;
  width: 100%;
  position: relative;
  object-fit: cover;
  
}

.item h2{
  position: absolute;
  bottom: 0;
  color: white;
  padding: 10px;
  margin: 0;
  background: linear-gradient(rgba(0, 153, 255, 0.2),rgba(255, 0, 157, 0.2));
  width: 100%;

}

.item:nth-child(3){
  grid-column-start: span 2;
}
 


/* mapa clickable  */
/*---------------------*/
/* Aboutme Segunda página*/
/*---------------------*/

.wrapper{
  display: inline-block;
  width: 100%;
  height: 100vh;
  position: relative;

}


.imagenfondo{
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  
}

.imagencontenida{
  position: absolute;
  object-fit:cover;
  height: 120px;
  left: 40px;
  top: 40px;
  background-color: whdte;
  padding: 0;
  margin: 0;
  

  
  
}

.texto{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 57%;
  color: aliceblue;
  text-align: justify;
  margin: 0;
  padding: 1rem;
  
}

#aboutme{
  color: black;

}

/*---------------------*/
/*Contact me - Tercera página*/
/*---------------------*/

button{
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #761ea9ea;
  border-radius: 10px;
}


button:hover{
  background-color: rgb(115, 35, 190);
}